<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Sylius e-commerce playground, visit Sylius.org.{% endblock %}</title>
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
        {% stylesheets output='assets/compiled/frontend.css'
            'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css'
            'http://redactorjs.com/js/redactor/redactor.css'
            '@SandboxCoreBundle/Resources/assets/css/comments.css'
            '@SandboxCoreBundle/Resources/assets/css/create-ui.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% stylesheets output='assets/compiled/frontend.less'
            '@SandboxCoreBundle/Resources/assets/less/frontend.less'
        %}
            <link rel="stylesheet/less" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% javascripts output='assets/compiled/frontend.js'
            'http://code.jquery.com/jquery.min.js'
            'http://code.jquery.com/ui/1.8.23/jquery-ui.min.js'
            'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js'
            'http://redactorjs.com/js/redactor/redactor.min.js'
            'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js'

            '@SandboxCoreBundle/Resources/assets/js/underscore-min.js'
            '@SandboxCoreBundle/Resources/assets/js/less.min.js'
            '@SandboxCoreBundle/Resources/assets/js/backbone-min.js'
            '@SandboxCoreBundle/Resources/assets/js/vie-min.js'
            '@SandboxCoreBundle/Resources/assets/js/annotate-min.js'
            '@SandboxCoreBundle/Resources/assets/js/jquery.rdfquery.min.js'
            '@SandboxCoreBundle/Resources/assets/js/create-min.js'
            '@SandboxCoreBundle/Resources/assets/js/frontend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="http://sylius.org">Sylius</a>
                    {{ knp_menu_render('SandboxCoreBundle:Builder:frontendMainMenu', {'template': 'SandboxCoreBundle:Menu:main.html.twig', 'currentClass': 'active'}) }}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="sidebar" class="span2">
                    {% for name, value in app.session.flashes if name in ['success', 'error'] %}
                    <div class="alert alert-{{ name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ value|trans }}
                    </div>
                    {% endfor %}
                    {% block sidebar %}
                        {% include 'SandboxCoreBundle:Frontend:sidebar.html.twig' %}
                    {% endblock %}
                    <hr />
                    <footer>
                        <p>&copy; <a href="http://sylius.org">Sylius</a>, 2011 - 2012.</p>
                    </footer>
                </div>
                <div id="content" class="span10 boxy">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
